body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: left;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin: 0;
}

form {
    max-width: 500px;
    margin: 30px auto;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

select {
    cursor: pointer;
}

textarea {
    resize: vertical;
}

button {
    background-color: #53d13f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

.hidden {
    display: none;
}
