
@font-face {
    font-family: headerFont;
    src: url("ui/fonts/Summer-Vibes-OTF.otf");
}

@font-face {
    font-family: myFont;
    src: url("ui/fonts/OpenSans-Regular.ttf");
}

#wrapper {
    max-width: 900px;
    min-height: 500px;
    /*display: flex;*/
    margin: auto;
    color: grey;
    font-family: myFont;
    font-size: 13px;
}

.header {
    margin: auto;
    background-color: #485b6c;
    font-size: 40px;
    font-family: headerFont;
    text-align: center;
    width: 100%;
    color: white;
}

form{
    margin:auto;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    /*background-color: #383e48;*/
}
input[type=radio]{
    padding: 10px;
    margin: 10px;
    border: solid thin grey;
    transform: scale(1.1);
}
input[type=text],input[type=password],input[type=submit]{
    padding: 10px;
    margin: 10px;
    width: 100%;
    border-radius:5px;
    border: solid thin grey;
}
input[type=submit]{
    width:105%;
    cursor: pointer;
    background-color: #2b5488;
    color: white;
}


.alert {
    display: none;
    /*position: fixed;*/
    padding: 20px !important;
    margin: auto;
    width: fit-content;
    height: fit-content;
    min-width: 400px;
    background-color:transparent;
    /*left: 50vw;*/
    /*transform: translate(-50%, -50%);*/
    /*z-index: 999 ;*/
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}