body{
    background-color: #1c775e;
   display: flex;
   height: 100vh;
   justify-content: center;
   align-items: center ; 
}
.container{
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    background-color: #ccc;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
}
.container form .user-details{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form .user-details .input-box{
    margin:20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
    font-weight: 500;
    margin-bottom: 5px;
    display:block;
}
.user-details .input-box input{
    height:45px;
    width:100%;
    outline:none;
    border-radius: 5px;
    border:1px solid #1c775e;
    padding-left: 15px;
    font-size: 16px;
}
form .button{
    height:45px;
    margin:45px 0;
}
form .button input{
    height:100%;
    width:100%;
    outline: none;
    background-color : #1c775e;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    
}
