.delete-account{
    display: flex;
    flex-direction: column;
}

.delete-account strong{
    color: red;
}

.deleteAccountButton {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.deleteAccountButton div{
    display: flex;
    padding: 10px;
    width:400px;
    justify-content: space-between;
}