.floating-button {
    position: absolute;
    top: 80px;
    right: 50px;
    z-index: 1;
    background-color: var(--primary-color-low);
    border-radius: 5%;
    /* width: 150px;
    height: 80px; */
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* padding: 5px;*/
    display: flex;
    flex-wrap: wrap; 
}

.floating-button-for-review {
    background-color: var(--primary-color-low);
    border-radius: 5%;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    width: 210px;
}

.floating-button button {
    font-size: 15px !important;

    border: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
    cursor: pointer;
    outline: none;
}

.buttonadd {
    position: relative;
    width: 220px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid var(--primary-color-low);
    background-color: var(--primary-color-low);
    justify-content: flex-start;
  }
  
  .buttonadd, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .buttonadd .button__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
  }
  
  .buttonadd .button__icon {
    position: absolute;
    transform: translateX(170px);
    height: 100%;
    width: 39px;
    background-color: var(--primary-color-low);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .buttonadd .svg {
    width: 30px;
    stroke: #fff;
  }
  
  .buttonadd:hover {
    background: var(--primary-color-low);
  }
  
  .buttonadd:hover .button__text {
    color: transparent;
  }
  
  .buttonadd:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .buttonadd:active .button__icon {
    background-color: #2e8644;
  }
  
  .buttonadd:active {
    border: 1px solid #2e8644;
  }