*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1400px;
  /* background-color: red; */
  margin: auto;

}

ul{
  list-style: none;
}


footer{
  /*margin-top: 50px;*/
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: var(--secondary-color);
  color: var(--text-color-secondary);
  padding: 70px 0;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.footer-col{
  width:25%;
  padding: 0 15px;
}

.footer-col h4{
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 600;
  position: relative;
}

.footer-col h4::before{
  content:'';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width:50px;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  font-weight: 350;
  display: block;
  transition: all 0.3s ease-in;
}

.footer-col ul li a:hover{
  color: white;
  padding-left: 10px;
}
.footer-col .social-links {
  display: flex;
}
.footer-col .social-links a{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: var(--primary-color-dark);
  margin: 0 10px 10px 0;
  line-height: 40px;
  border-radius: 50%;
  transition: all 0.5s ease-in;
}

.footer-col .social-links a:hover{
  background-color: white;

  
}
.footer-col .social-links a .svg-social{
  
  padding: 0;
}

.footer-col .social-links a:hover .svg-social{
  fill: black;
  padding: 0;
}

@media(max-width:767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width:574px){
  .footer-col{
    width: 100%;
  }
}