.file-upload-div {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.file-upload-label input {
    display: none;
}
.file-upload-label svg {
    height: 50px;
    fill: rgb(82, 82, 82);
    margin-bottom: 20px;
}
.file-upload-label {
    width: 100%;
    cursor: pointer;
    background-color: #efefef;
    padding: 30px 70px;
    border-radius: 40px;
    border: 2px dashed rgb(82, 82, 82);
    /*box-shadow: 0px 0px 200px -50px rgba(0, 0, 0, 0.719);*/
}
.file-upload-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.browse-button {
    background-color: rgb(82, 82, 82);
    padding: 5px 15px;
    border-radius: 10px;
    color: white;
    transition: all 0.3s;
}
.browse-button:hover {
    background-color: rgb(14, 14, 14);
}


.highlight {
    border: 2px dashed #007bff; /* Change the border style as needed */
    background-color: #f0f0f0; /* Change the background color as needed */
    /* Add any other styles to indicate the highlighted state */
}

#file-list {
    margin-top: 10px;
}
.file-item {
    margin-bottom: 5px;
}



.file-delete {
    all: initial;
    color: black;
    position: relative;
    border: none;

}

.file-delete::after {
    content: 'delete';
    position: absolute;
    top: -130%;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    background-color: rgb(168, 7, 7);
    padding: 4px 8px;
    border-radius: 5px;
    transition: .2s linear;
    transition-delay: .2s;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
}

.icon {
    transform: scale(1.2);
    transition: .2s linear;
}

.file-delete:hover > .icon {
    transform: scale(1.5);
}

.file-delete:hover > .icon path {
    fill: rgb(168, 7, 7);
}

.file-delete:hover::after {
    visibility: visible;
    opacity: 1;
    top: -160%;
}
