/*styles for following:

<div class="one-form-container">
      <div class="logo-container">
        Forgot Password
      </div>

      <form class="form">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" name="email" placeholder="Enter your email" required="">
        </div>

        <button class="form-submit-btn" type="submit">Send Email</button>
      </form>

      <p class="signup-link">
        Don't have an account?
        <a href="#" class="signup-link link"> Sign up now</a>
      </p>
    </div>
 */


.one-form-container {
    max-width: 400px;
    background-color: #fff;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: #212121;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.one-form-container button:active {
    scale: 0.95;
}

.one-form-container .logo-container {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.one-form-container .form {
    display: flex;
    flex-direction: column;
}

.one-form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.one-form-container .form-group label {
    display: block;
    margin-bottom: 5px;
}

.one-form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 6px;
    font-family: inherit;
    border: 1px solid #ccc;
}

.one-form-container .form-group input::placeholder {
    opacity: 0.5;
}

.one-form-container .form-group input:focus {
    outline: none;
    border-color: #1778f2;
}

.one-form-container .form-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    color: #fff;
    background-color: #212121;
    border: none;
    width: 100%;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin: 12px 0;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.one-form-container .form-submit-btn:hover {
    background-color: #313131;
}

.one-form-container .link {
    color: #1778f2;
    text-decoration: none;
}

.one-form-container .signup-link {
    align-self: center;
    font-weight: 500;
}

.one-form-container .signup-link .link {
    font-weight: 400;
}

.one-form-container .link:hover {
    text-decoration: underline;
}

