
.strength-pass{
    position: relative;
    display: flex;
    align-items: center;
}
.pw-display-toggle-button{
    position: absolute;
    margin-top: 4px;
    right: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    
}

.pw-display-toggle-button svg{
    fill: #111;
}



.pw-display-toggle-button .hideEye{
    display: none;
}
.pw-display-toggle-button.active .showEye{
    display: none;
}

.pw-display-toggle-button.active .hideEye{
    display: block;
}

.pw-strength{
    position: relative;
    width: 100%;
    height: 20px;
    margin-top: 10px;
    text-align: center;
    background: #f2f2f2;
    /* display: none; */
}

.pw-strength span:nth-child(1){
    position: relative;
    font-size: 13px;
    color: #111;
    z-index: 2;
    font-weight: 600;
}

.pw-strength span:nth-child(2){
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    border-radius: 5px;
    z-index: 1;
    transition: all 300ms ease-in-out;
}