.card {
    --main-color: var(--text-color);
    --submain-color: var(--text-color-secondary);
    --bg-color: #fff;
    position: relative;
    width: 300px;
    height: 384px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background: var(--bg-color);
  }
  
  .card__img {
    height: 192px;
    width: 100%;
    border-bottom: 2px solid var(--secondary-color);
    background-color: var(--primary-color-low);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card__img img {
    
  }
  
  .card__avatar {
    position: absolute;
    width: 114px;
    height: 114px;
    background: var(--bg-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% - 57px);
  }
  
  .card__avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  
  
  .card__title {
    margin-top: 60px;
    font-weight: 500;
    font-size: 22px;
    color: var(--main-color);
  }
  
  .card__subtitle {
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
    color: var(--submain-color);
  }
  
  .card__btn {
    margin-top: 15px;
    width: 76px;
    height: 31px;
    border: 2px solid var(--main-color);
    border-radius: 4px;
    font-weight: 700;
    font-size: 11px;
    color: var(--main-color);
    background: var(--bg-color);
    text-transform: uppercase;
    transition: all 0.3s;
  }
  
  .card__btn-solid {
    background: var(--main-color);
    color: var(--bg-color);
  }
  
  .card__btn:hover {
    background: var(--main-color);
    color: var(--bg-color);
  }
  
  .card__btn-solid:hover {
    background: var(--bg-color);
    color: var(--main-color);
  }

  .profile-details {
    background-color: white;
    border-radius: 15px;
    color: var(--text-color);
    padding: 20px;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
  }
  .profile-details div{
    margin: 5px;
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 20px;
  }

  .profile-details svg{
    fill: var(--primary-color-low); 
}