/* Table styles */
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
}

/* Striped table rows */
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

/* Centering text in table cells */
.table td, .table th {
    text-align: center;
}

.status-btn-like{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 30px;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    width: fit-content;
}

.status-btn-working{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 45px;
    margin: auto;
    padding: 10px;
    background-color: #98ffad;
    border-radius: 5px;
    cursor: pointer;
}