.warning {
    /*width: 320px;*/
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: #FEF7D1;
    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #111;
}

.warning__icon {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    margin-right: 8px;
}

.warning__icon path {
    fill: #F7C752;
}

.warning__title {
    font-weight: 500;
    font-size: 14px;
    color: #755118;
}

.warning__close {
    width: 20px;
    height: 20px;
    margin-left: auto;
    cursor: pointer;
}

.warning__close path {
    fill: #755118;
}