.reviews .overall_rating .num{
    font-size: 30px;
    font-weight: bold;
    color: #F5A624;
}

.reviews .overall_rating .stars{
    letter-spacing:3px;
    font-size: 32px;
    padding: 0 5px 0 10px;
    color: #F5A624;
}

