.chatWrapper{
    background-color: aquamarine;
    margin: 10px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:5px;
}
.chatHeader{
    background-color: red;
    height: 100px;
}

.chatBody{
    background-color: aqua;
    height: 100%;
}


.chatFooter{
    background-color: green;
    height: 100px;

}
