
header{
    background-color:  var(--secondary-color);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
    /* display: flex; */
    /* flex-wrap: wrap; */
    
}

.myNav{
  /* justify-self: center; */
  margin: auto;
    color: white;
    display: flex;
    align-items: center;
    max-width: 1400px;
    justify-content: space-between;
}


.login-button {
    display: inline-block;
    border-radius: 4px;
    background-color: var(--primary-color);
    border: none;
    color: var(--text-color);
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 8px;
    width: 100px;
    height: fit-content;
    transition: all 0.5s;
    cursor: pointer;
    margin: 15px;
   }
   
   .login-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }
   
   .login-button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
   }
   
   .login-button:hover span {
    padding-right: 15px;
   }
   
   .login-button:hover span:after {
    opacity: 1;
    right: 0;
   }

   .login-button a{
    text-decoration: none;
    color: var(--text-color);
   }

.search{
    display: flex;
    align-items: center;
}
   .search input[type = "text"] {
    display: block;
    color: rgb(34, 34, 34);
    background: linear-gradient(142.99deg, rgba(217, 217, 217, 0.63) 15.53%, rgba(243, 243, 243, 0.63) 88.19%);
    box-shadow: 0px 12px 24px -1px rgba(0, 0, 0,0.18);
    border-color: rgba(7, 4, 14, 0);
    border-radius: 50px;
    block-size: 20px;
    margin: 7px auto;
    padding: 15px 15px;
    
    outline: none;
    text-align: center;
    width: 200px;
    transition: 0.5s;
  }
  
  .search input[type = "text"]:hover {
    width: 240px;
  }
  
  .search input[type = "text"]:focus {
    width: 280px;
  }

/* ......................................................................................... */
  .my-drop-button {
    position: relative;
    display: block;
  }
  
  .drop-button {
    background-color: transparent;
    color: var(--primary-color);
    padding: 10px 15px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    font-size: 13px;
    position: absolute;
    z-index: 1;
    min-width: 200px;
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    border-radius: 0px 15px 15px 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
    color: var(--primary-color);
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    transition: 0.1s;
  }
  
  .dropdown-content a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
  
  .dropdown-content a:focus {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
  
  .dropdown-content #top:hover {
    border-radius: 0px 13px 0px 0px;
  }
  
  .dropdown-content #bottom:hover {
    border-radius: 0px 0px 13px 13px;
  }
  
  .my-drop-button:hover button {
    border-radius: 15px 15px 0px 0px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
  
  .my-drop-button:hover .dropdown-content {
    display: block;
  }

  .my-drop-button a{
    text-decoration: none;
  }
  
/* ......................................................................................... */

.my-button a{
  text-decoration: none;
  color: var(--primary-color);
}

.my-button {
  position: relative;
  display: block;
}

.button {
  background-color: transparent;
  color: var(--primary-color);
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 15px;
  cursor: pointer;
}

.my-button:hover button {
  border-radius: 15px 15px 15px 15px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.my-button:hover button a{
  color: var(--secondary-color);
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */
.left-menu{
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.right-menu{
  display: flex;
  align-items: center;
  justify-content: space-around;
}